.body-login {
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    color: inherit; 
    text-decoration: none; 
    cursor: pointer; 
}



.body-index {
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
    border: none;
    transition: all 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-5px);
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container {
    width: 100%;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: start;
}

.login-container h2 {
    margin-bottom: 20px;
}